* {
    font-family: "Courier New", Courier, monospace;
    color: white;
    background-color: black;
}

#head {
    width: 55vw;
    height: 15vw;
}

#hd1 {
    position: absolute;
    left: 1vw;
    top: 1vw;
}

#hd2 {
    position: absolute;
    left: 6.5vw;
    top: 2vw;
}

#hd3 {
    position: absolute;
    left: 16vw;
}

#hd4 {
    position: absolute;
    left: 54vw;
    top: 4vw;
}

#hd5 {
    position: absolute;
    right: 1vw;
}

#head h1 {
    margin: 0;
    position: absolute;
    color: white;
    font-size: 12vw;

    font-weight: normal;
}

#head p {
    margin: 0;
    font-size: 3vw;
}

#nav {
    background-color: transparent;
    padding: 1vw;
    height: fit-content;
    transform-origin: top left;
    position: fixed;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#nav a,
#nav p {
    display: inline;
    font-size: 3vw;
}

.up {
    transform: rotate(0) translateY(1vw);
}

.down {
    transform: rotate(90deg) translateY(-60%);
}

.down p,
.down p a {
    font-size: 1.5vw !important;
}

.section{
    position: relative;
    width: fit-content;
    left:3vw;
}
.section p {
    font-size: 3vw;
}
.explain{
    position: absolute;
    width: 48vw;
    height: fit-content;
}

.demo{
    position: absolute;
    left: 50vw;
    padding: 1vw;
    border-radius: 2vw;
    border: 1px solid white;
}
